fastapi
uvicorn
python-multipart
python-dotenv
google-genai
pandas
openpyxl
langchain==0.2.16
langchain-community==0.2.16
langchain-huggingface==0.0.3
faiss-cpu
sentence-transformers
transformers
torch
scikit-learn
requests
aiohttp
google-api-python-client
